<!DOCTYPE html>
<html lang="en">

<head>
    <title>The World News</title>

</head>

<body>
<div>
     author
    <br><form action="{{ ('handle_data') }}" method="post">
    <input type="text" name="author">
        <br>Title
        <br><input type="text" name="title">
        <br>Date<input type="text" name="date">
        <br>Section
    <select name="section">
          <option value="fantasy">Fantasy</option>
          <option value="historical">Historical</option>
          <option value="fiction">Fiction</option>
          <option value="science-fiction">Science-fiction</option>
    </select>
    <div class="container">
        <div class="header">

        </div>
        <input type="radio" name="status" value="in edition"> In edition
        <input type="radio" name="status" value="submitted"> Submitted
        <input type="radio" name="status" value="accepted"> Accepted
        <input type="radio" name="status" value="published"> Published
    </div>
    <div>
        <br>Text
        <input type="text" name="summary">

    </div>
            <input type="submit" value="Submit">

        </form>
        <footer class="footer">
        </footer>

    </div>
</body>

</html>